<header @fade>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo">NRG<span>forum</span></p>
        </div>
        <div class="mini-navbar"
             *ngIf="!(isLoggedIn$ | async)">
            <ul>
                <li><a routerLink="/auth/login"
                       routerLinkActive="active"><i class="fas fa-key"></i> Login</a></li>
                <li><a routerLink="/auth/register"
                       routerLinkActive="active"><i class="fas fa-user-plus"></i> Register</a></li>
            </ul>
        </div>
        <div class="mini-navbar"
             *ngIf="(isLoggedIn$ | async)">
            <ul>
                <li><a routerLink="/auth/profile"
                       routerLinkActive="active"><i class="fas fa-user-alt"></i> {{(currentUser$ | async).username}}'s
                        Profile</a></li>
                <li><a href="javascript:void(0);"
                       (click)="logoutHandler()"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li><a routerLink="/home"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact:true}"><i class="fas fa-home"></i> Home</a></li>
            <li><a routerLink="/themes"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact:true}"><i class="fas fa-newspaper"></i> Themes</a></li>
            <li><a [routerLink]="['/themes', 'new']"
                   routerLinkActive="active"><i class="fas fa-plus"></i> New Theme</a></li>

            <p *ngIf="!!message"
               @fade
               [ngClass]="{'error-message':isErrorMessage, 'success-message': !isErrorMessage}"
               class="notification">{{message}}</p>
        </ul>
    </nav>
</header>