.logo,
.logo span {
    font-size: 1.8em;
    letter-spacing: .8rem;
    color: black;
    padding-bottom: 0;
}

.logo span {
    font-size: 1.3em;
    letter-spacing: normal;
    font-weight: 300;
}

.logo-wrap {
    margin: 0.5em 0;
}

/* header  */

header {
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #00040441;
}

header ul {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

header ul span {
    color: white;
    padding: 0.5em;
}

.mini-navbar ul {
    padding-left: 0;
    width: 100%;
}

header li {
    list-style: none;
    border-radius: 2px;
    margin: .35em;
    background-color: #1b4d0f78;
    padding: 0.5em;
}

header li:hover {
    background-color: #00040441;
}

header a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 0.5em;
}

nav {
    border-top: 1px solid #007f99;
}


.mini-navbar-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    margin: auto;
    padding: 0;
}

/* mini-navbar */

.mini-navbar li {
    background-color: #007f99;
    padding: .5em .8em;
}

.mini-navbar li:hover {
    background-color: #00040441;
}


.notification {
    position: fixed;
    z-index: 10;
    right: 13%;
    top: 14%;
    padding: 0.5em;
    border-radius: 2px;
    color: white;
    font-style: normal;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
}

.error-message {
    background-color: rgba(255, 0, 0, 0.6);
}

.success-message {
    background-color: rgba(2, 157, 2, 0.6);
}

@media screen and (max-width: 800px) {
    header nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header nav li a {
        font-size: 0.8em;
        align-self: center;
    }

    header div li a {
        font-size: 0.8em;
        align-self: center;
    }

    header div.mini-navbar-wrap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    header div.mini-navbar ul {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1024px) {

    header div,
    header nav {
        font-size: 0.9em;
        display: flex;
        justify-content: center;
    }

    header div.mini-navbar-wrap {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: auto;
    }

}

@media screen and (min-width: 1280px) {
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    header nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }


}