:host {
    margin: 4rem auto;
}

/*  login form   */

form.login {
    display: flex;
    margin: 2em auto;
    text-align: center;
}

.login fieldset {
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.219);
    border: 0;
    padding-top: 2em;
    padding: 4em;
    background-color: rgba(255, 255, 255, 0.718);
}

.header-background {
    background-color: #007f99;
    border-bottom: 4px solid orange;
    padding: 1.5em;
    padding-bottom: 0;
    margin-bottom: 1em;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.header-background span {
    background-color: #fff;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 0px;
    font-size: 1.3rem;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.login p:not(p.error) {
    padding-bottom: 0;
    padding-top: 1.5rem;
}

.login input {
    flex: 0 1 100%;
    padding: 0.3em;
    border-left: 0.3em solid green;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.login button {
    color: white;
    border: none;
    padding: 0.6em 1.2em;
    margin-top: 1.5rem;
    width: 60%;
    outline: none;
}

.login button:disabled {
    color: whitesmoke;
    background-color: lightgray;
    cursor: not-allowed;
}

.login i {
border: 1px solid rgb(214, 214, 214);
    border-right: none;
    padding: 0.55em;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    background-color: #e9ecef;
}

.login a {
    color: teal;
}

.login a:hover {
    cursor: pointer;
}

.login .field {
    display: flex;
}

p.text-center {
    font-size: 0.9em;
}

/* errors  */

p.error {
    text-align: left;
    border-radius: 2px;
    color: red;
    margin-top: 0.3em;
    font-size: 0.8em;
}

.login .input-error {
    border-left-color: red;
}

@media screen and (min-width: 801px) {
    form.login#login {
        margin-bottom: 1em;
    }

    form.login#login fieldset {
        padding: 2em 3em;
        font-size: 0.9rem;
        min-width: 450px;
    }
}

@media screen and (max-width: 800px) {
    #login.login {
        margin-top: 2em;
        margin-bottom: 4em;
    }

    form.login#login fieldset {
        padding: 2em;
        font-size: 0.9rem;
        min-width: 350px;
    }
}