// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$web-client-primary: mat.define-palette(mat.$indigo-palette);
$web-client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$web-client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$web-client-theme: mat.define-light-theme((color: (primary: $web-client-primary,
                accent: $web-client-accent,
                warn: $web-client-warn,
            )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($web-client-theme);

@import url('./assets/reset.scss');
@import url('./assets/layout.scss');
@import url('./assets/typography.scss');
@import url('./assets/responsive.scss');

html,
body {
    height: 100%;
}

html,
* {
    transition: all linear 0.2s;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

body {
    margin: 0;
    background-image: url('/assets/hero.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h2 {
    text-align: center;
    border-bottom: 1px dashed #999;
}

li {
    list-style: none;
}

span {
    font-weight: bold;
}


/* primary button */

button {
    background-color: #007f99;
    color: white;
    border-radius: 2px;
}

button:hover {
    cursor: pointer;
    background-color: #1b4d0f78;
}

input,
textarea,
select {
    border: 1px solid lightgray;
    outline: 0;
    border-radius: 2px;
}

input:focus,
textarea:focus,
select:focus {
    border: 1px solid #4ebced;
    outline: 0;
}

img {
    object-fit: cover;
}

/*-------- Breadcrumbs ------------*/
ul.breadcrumb {
    padding: 8px 16px;
    list-style: none;
    background-color: #eee;
}

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: teal;
}