@import url('./assets/reset.scss');
@import url('./assets/layout.scss');
@import url('./assets/typography.scss');
@import url('./assets/responsive.scss');


html,
* {
    transition: all ease-in 0.2s;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

body {
    background-image: url('/assets/hero.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    text-align: center;
    border-bottom: 1px dashed #999;
}

li {
    list-style: none;
}

span {
    font-weight: bold;
}


/* primary button */

button {
    background-color: #007f99;
    color: white;
    border-radius: 2px;
}

button:hover {
    cursor: pointer;
    background-color: #1b4d0f78;
}

input,
textarea,
select {
    border: 1px solid lightgray;
    outline: 0;
    border-radius: 2px;
}

input:focus,
textarea:focus,
select:focus {
    border: 1px solid #4ebced;
    outline: 0;
}

img {
    object-fit: cover;
}

/*-------- Breadcrumbs ------------*/
ul.breadcrumb {
    padding: 8px 16px;
    list-style: none;
    background-color: #eee;
}

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: teal;
}