<!-- theme details  -->
<div *ngIf="theme">
    <div *ngIf="!!theme; else loadingIndicator"
         class="theme-content"
         @fade>

        <article class="theme-name-wrapper">
            <header class="theme-name">
                <div class="theme-details">
                    <h2>{{theme.themeName}}</h2>
                    <p *ngIf="isOwner"
                       class="display-theme-for-owner"><i class="fas fa-star"></i> Created by you</p>
                    <p>Date: <time>{{theme.created_at | date:'dd MMM yyyy, hh:mm a'}}</time></p>
                </div>
                <div class="subscribers">
                    <p>Subscribers: <span>{{theme.subscribers.length}}</span></p>
                    <ng-container *ngIf="(isLoggedIn$ | async)">
                        <button (click)="subscribe()"
                                @fade
                                *ngIf="canSubscribe"
                                class="subscribe">Subscribe</button>
                        <button (click)="unsubscribe()"
                                @fade
                                *ngIf="!canSubscribe"
                                class="unsubscribe">Unsubscribe</button>
                    </ng-container>
                </div>
            </header>
        </article>

        <article class="comment"
                 *ngFor="let post of theme.posts; trackBy: postTrackBy">
            <header class="header">
                <p><span>{{post.userId.username}}</span> posted on
                    <time>{{post.created_at | date:'dd MMM yyyy, hh:mm a'}}</time>
                </p>
            </header>

            <div class="comment-main">
                <div class="userdetails">
                    <img src="{{post.userId.profilePicture ? post.userId.profilePicture : '/assets/profile.png'}}"
                         alt="{{post.userId.username}}">
                </div>
                <div class="post-content">
                    <p>{{post.text}}</p>
                </div>
            </div>

            <footer class="footer">
                <ng-container *ngIf="(isLoggedIn$ | async)">
                    <ng-container *ngIf="!canLikeThemePost(post)">
                        <div class="like-group"
                             @fade>
                            <span class="liked-info">You already <i class="fas fa-heart"></i> this.</span>
                            <span class="dislike"
                                  (click)="dislike(post)">Remove like</span>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="canLikeThemePost(post)">
                        <div class="like-group"
                             @fade>
                            <span class="like"
                                  (click)="like(post)">Like this</span>
                        </div>
                    </ng-container>
                </ng-container>
                <p><span>{{post.likes.length}}</span> likes</p>
            </footer>

        </article>

        <section *ngIf="(isLoggedIn$ | async)"
                 class="answer-comment">
            <p>Write comment as: <span>{{currentUser.username}}</span></p>
            <div class="answer">

                <form #form="ngForm"
                      (ngSubmit)="createThemePost(form)">
                    <textarea [class.input-error]="postText.touched && postText.invalid"
                              @fade
                              name="postText"
                              id="postText"
                              cols="30"
                              rows="10"
                              ngModel
                              #postText="ngModel"
                              required
                              minlength="3">
                    </textarea>
                    <ng-container *ngIf="postText.touched && postText.invalid">
                        <p class="error"
                           @fade
                           *ngIf="postText.errors?.['required']">Your post must have content!</p>
                        <p class="error"
                           @fade
                           *ngIf="postText.errors?.['minlength']">Post content must be at least 3
                            characters long!
                        </p>
                    </ng-container>

                    <button [disabled]="form.invalid"
                            @fade>Post</button>
                </form>

            </div>
        </section>

    </div>
</div>
<ng-template #loadingIndicator>Loading ...</ng-template>