:host {
    margin: auto;
}

/* theme details layout  */
.theme-content {
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    min-width: 700px;
    max-width: 80%;
    margin-bottom: 2em;
    padding: 1em 2em;
    background-color: rgba(255, 255, 255, 0.622);
}

/* theme header part */

.theme-name-wrapper {
    position: relative;
    padding: 1em;
    border-radius: 2px;
    margin-top: 1em;
    border: 1px solid gainsboro;
    background-color: whitesmoke;
}

article .theme-name {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.theme-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

article header,
article header p {
    padding: 1em;
}

article header h2 {
    font-size: 1.7rem;
    margin-bottom: 0.3em;
    position: relative;
    padding: 0 1em;
    border-bottom: 1px solid orange;
}

article header .display-theme-for-owner {
    width: auto;
    padding: 0.5rem;
    background-color: rgba(255, 105, 180, 0.148);
    border: 1px dashed hotpink;
    border-radius: 2px;
}

.fas.fa-star {
    color: hotpink;
}

.subscribers p {
    white-space: pre;
    font-size: 0.9rem;
    color: teal;
}

.subscribers {
    flex-basis: 50%;
    display: inline-flex;
    border-left: 1px solid orange;
    padding: 1em;
    align-items: center;
    justify-content: space-around;
    position: relative;
    column-gap: 0.5em;
}

.subscribers button {
    position: relative;
    padding: 0.5rem;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

.subscribe {
    background-color: rgba(2, 157, 2, 0.6);
    z-index: 10;
}

.unsubscribe {
    background-color: rgba(255, 0, 0, 0.7);
    z-index: 0;
}

.unsubscribe:hover {
    background-color: rgba(195, 0, 0, 0.7);
}

.subscribe:hover {
    background-color: rgba(0, 102, 0, 0.6);
}

/* comment  */

.comment {
    margin-top: 1em;
    border: 1px solid gainsboro;
    border-radius: 2px;
    width: 100%;
    padding: 1em;
}

.comment header p {
    padding: 0.3em;
    text-align: center;
    background-color: rgba(0, 128, 128, 0.2);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: 5px solid orange;
    margin-right: 0;
}

.comment-main {
    margin: 1em;
    display: flex;
}

.userdetails {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.userdetails p {
    padding-left: 0;
    text-align: left;
}

.post-content p {
    padding-left: 1.5em;
}

.userdetails div {
    border: 1px solid;
    display: flex;
    justify-content: center;
}

.userdetails img {
    background-position: center;
    padding: 0;
    align-self: center;
    margin: 1em 0;
    width: 5em;
    height: 5em;
    border-radius: 2px;
}

/* comment footer */

.footer {
    position: relative;
    border-top: 2px solid rgba(0, 128, 128, 0.2);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 128, 182);
}

.like-group {
    display: inline-flex;

    align-items: center;
    gap: 5px;
}

.footer span {
    font-size: .9rem;
    font-weight: 600;
}

span.dislike {
    background-color: gainsboro;
    border-radius: 2px;
    padding: .2em .5em;
    color: rgb(82, 82, 82);
    cursor: pointer;
}

span.like {
    background-color: hotpink;
    border-radius: 2px;
    padding: .2em .5em;
    color: white;
    cursor: pointer;
}

span.dislike:hover {
    background-color: #00040441;
}

span.like:hover {
    background-color: rgb(217, 74, 146);
}

.footer .fas.fa-heart {
    color: hotpink;
    font-size: 1rem;
    border: none;
}

footer p {
    background-color: rgba(0, 128, 128, 0.2);
    color: rgb(0, 0, 0);
    padding: 1em;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

/* create comment */

.answer-comment {
    margin-top: 1em;
}

.answer-comment form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answer-comment p {
    flex-basis: 15%;
    padding-bottom: 0.3em;
}

.answer-comment p span {
    color: rgb(0, 128, 182);
    font-size: 1rem;
}

.answer {
    border: 1px solid gainsboro;
    border-radius: 2px;
    text-align: center;
}

.answer textarea {
    resize: none;
    width: 90%;
    margin-top: 1em;
    border-radius: 2px;
    padding: 0.5em;
    border-left: 0.3em solid green;
}

.answer button {
    background-color: rgb(0, 128, 182);
    color: white;
    margin: 1em auto;
    padding: .5em 1.5em;
    border: 0;
    border-radius: 2px;
}

.answer button:hover {
    background-color: #1b4d0f78;
    cursor: pointer;
}

.answer button:disabled {
    color: whitesmoke;
    background-color: lightgray;
    cursor: not-allowed;
}

/* errors */

p.error {
    position: relative;
    display: inline-flex;
    text-align: left;
    color: red;
    line-height: 0.9;
    margin-top: 0.3em;
    font-size: 0.8em;
}

form .input-error {
    border: 1px solid rgba(255, 0, 0, 0.9);
    border-left: 0.3em solid rgba(255, 0, 0, 0.9);
}

@media screen and (max-width: 800px) {
    div.theme-content {
        width: auto;
        min-width: 380px;
        margin: auto;
        margin-top: 1em;
        padding: .5em;
    }

    article header.theme-name {
        flex-direction: column;
    }

    article header p {
        margin-top: 1em;
        font-size: 0.8rem;
        padding: 1em 0;
    }

    article header h2 {
        font-size: 1.3rem;
        text-align: left;
        padding: .5em;
        line-height: 1.1;
    }

    article.comment {
        display: flex;
        flex-direction: column;
    }

    article.comment div.comment-main * {
        padding: 0;
    }

    article div.comment-main {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    article .comment-main img {
        width: 40%;
        height: auto;
    }

    footer {
        justify-content: space-between;
    }

    footer div.like-group {
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        gap: 4px
    }

    footer span.liked-info {
        margin-top: 0.2em;
    }
}