<div class="themes-wrapper">
    <form class="filter-form">
        <p>
            <label for="search-term"><span><i id="search" class="fas fa-search" title="Start typing to filter the results"></i></span></label>
            <input type="text"
                   id="search-term"
                   name="search-term"
                   placeholder="Search for themes"
                   title="Start typing to filter the results"
                   [formControl]="searchControl" />
        </p>
        <div class="pagination">
            <a href="#"><i class="fas fa-angle-double-left"></i></a>
            <a href="#">1</a>
            <a [class.active]="isActive" href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#"><i class="fas fa-angle-double-right"></i></a>
        </div>
    </form>

    <ng-container *ngIf="themeList">
        <app-theme-list-item *ngFor="let theme of themeList"
                             [theme]="theme">
        </app-theme-list-item>

        <div *ngIf="themeList.length === 0">No themes found!</div>
    </ng-container>
    <ng-container *ngIf="!themeList">
        Loading...
    </ng-container>
</div>