:host {
    display: block;
    width: 100%;
    margin: 0;
}

footer {
    display: block;
    background-color: #00040441;
    margin-bottom: 0;
    height: 60px;
    bottom: 0;
    left: 0;
    padding: 10px;
}

footer p {
    padding-top: .8em;
    margin: 0;
    font-size: 0.8em;
    text-align: center;
    color: white;
}

footer span {
    font-size: 1.1em;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    footer {
        width: 100vw;
        height: 60px;
    }
}