.mainbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.mainbox* {
    transition: all 500ms ease-in-out;
}

.group-err {
    display: flex;
    align-items: center;
    justify-content: center;
}

p.err,
p.err2,
p.far,
i {
    padding: 0.2rem;
    position: relative;
    font-size: 9.5rem;
    color: #95c2de;
}

i {
    font-size: 8rem;
}

p.msg {
    white-space: pre;
    position: relative;
    text-align: center;
    font-size: 1.6rem;
    display: inline;
}

a {
    font-size: 1.6rem;
    color: #95c2de;
}

a:visited {
    color: #95c2de;
}

a:hover {
    text-decoration: underline;
    color: teal;
}

@media screen and (max-width: 800px) {

    div.mainbox {
       min-height: 100vh;
       padding: 0 2em;
       width: 90%;
    }
}