/* main  */

main {
    width: 60%;
    display: flex;
    flex-direction: column;
}

aside {
    display: flex;
    margin-top: 1em;
    font-size: 0.8em;
}

.aside * {
    margin: 0;
    padding: 0;
}

.container {
    flex-wrap: wrap;
    margin: auto;
    padding-bottom: 4.5em;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}