<div [class.displayForOwner]="((user$ | async)?._id === theme.userId._id)"
     class="theme-item-wrapper">
    <div class="theme-item" @fade>
        <a [routerLink]="['/themes', theme._id]">
            <span class="tooltiptext">{{theme.themeName}}</span>
            <h2 *ngIf="theme.themeName.length > 35">{{(theme.themeName | slice:0:35) + '...'}}</h2>
            <h2 *ngIf="theme.themeName.length <= 35">{{theme.themeName}}</h2>
        </a>
        <div class="columns">
            <div>
                <p *ngIf="(user$ | async)?._id === theme.userId._id"
                   class="my-theme">
                    <i class="fas fa-star"></i> Created by you
                </p>

                <p>Date: <time>{{theme.created_at | date:'dd MMM yyyy, hh:mm a'}}</time></p>
                <div>
                    <p>Created by: <span>{{theme.userId.username}}</span></p>
                </div>
            </div>
            <div class="subscribers">
                <p *ngIf="(isLoggedIn$ |async)"
                   [class.canSubscribe]="(canSubscribe$ | async)"
                   [class.already-subscribed]="!(canSubscribe$ | async)">
                    {{(canSubscribe$ | async) ? 'Available for subscription' : 'You\'re already subscribed'}}
                </p>

                <p>Subscribers: <span>{{theme.subscribers.length}}</span></p>
            </div>
        </div>
    </div>
</div>