<div class="container">
    <div *ngIf="postList">
        <div *ngFor="let post of postList"
             class="aside-theme">
            <a [routerLink]="['/themes', post.themeId._id]" title="Read More">
                <h3>{{post.themeId.themeName}}</h3>
                <p>{{(post.text | slice:0:100) + '...'}}</p>
                <p class="time-span"><span>{{post.created_at | timeSpan}}</span></p>
            </a>
        </div>
        <div *ngIf="postList.length === 0">No Posts!</div>
    </div>
    <div *ngIf="!postList">
        Loading...
    </div>
</div>