:host {
    margin: 2em auto;
}

.profile {
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.219);
    border: 0;
    padding: 4em;
    padding-top: 2em;
    padding-bottom: 2em;
    min-width: 600px;
    background-color: rgba(255, 255, 255, 0.718);
}

.profile h3 {
    width: fit-content;
    margin: auto;
    border-bottom: 1px solid orange;
    margin-bottom: 0.5em;
}

.profile img {
    width: 8em;
    height: 8em;
    margin: auto;
    display: block;
    border-radius: 2px;
    padding: 0;
    border-radius: 2px;
}

.profile form {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    flex-basis: 100%;
}

.field-group {
    position: relative;
    overflow: hidden;
    height: 5.2rem;
}

form div.field-group#first {
    margin-top: 1.2em;
}

form input {
    border-left: 0.3em solid green;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

form.disabled input,
form.disabled {
    border: 0;
    background-color: transparent;
}

form.disabled input {
    margin-bottom: 1em;
}

.profile form input:not(input[type="file"]),
.profile form input:disabled {
    width: 100%;
    padding: 0.3em;
    border-radius: 2px;
    color: teal;
}

form input[type="file"] {
    padding: 0.2em;
    width: 100%;
}

form .input-group p {
    color: #555555;
    border-bottom: 0;
    align-self: start;
    padding-top: .1em;
    padding-bottom: .1em;
    font-size: 0.9rem;
}

form.disabled .input-group p {
    border-bottom: 1px solid gainsboro;
}

.profile button {
    color: white;
    border: none;
    padding: 0.6em 1.2em;
    margin: auto;
    outline: none;
}

button:disabled {
    color: whitesmoke;
    background-color: lightgray;
    cursor: not-allowed;
}

.red-button {
    background-color: rgba(255, 0, 0, 0.7);
    margin-right: 0.5em;
}

.green-button {
    background-color: rgba(2, 157, 2, 0.6);
    margin-left: 0.5em;
}

.red-button:hover {
    background-color: rgba(195, 0, 0, 0.7);
}

.green-button:hover {
    background-color: rgba(0, 102, 0, 0.6);
}

.button-group {
    display: flex;
    gap: 1em;
    margin: 1em auto;
}

/* errors  */

p.error {
    position: relative;
    display: inline-flex;
    text-align: left;
    color: red;
    margin-top: 0.2em;
    font-size: 0.8em;
}

form .input-error {
    border: 1px solid rgba(255, 0, 0, 0.9);
    border-left: 0.3em solid rgba(255, 0, 0, 0.9);
}

@media screen and (max-width: 800px) {
    div.profile#profile {
        display: flex;
        width: 380px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1em auto;
        padding: 1em;
        min-width: none;
    }

    form input,
    form button,
    form p {
        font-size: 0.8rem;
    }

    form .field-group p.error {
        display: inline-flex;
        font-size: 0.7rem;
        position: relative;
    }

    .profile form .field-group input,
    .profile form.disabled {
        width: 340px;
    }

    div.profile form input:not(input[type="file"]),
    div.profile form input:disabled {
        padding: 0.3em;
    }
}