:host {
    margin: auto;
}

.profile {
    padding: 2em;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
 
    border: 1px solid rgb(219, 219, 219);
    border-radius: 4px;
    background-color: hsla(0, 0%, 100%, 0.6);
    font-size: 1em;
}

.profile h3 {
    border-bottom: 1px solid orange;
    margin-bottom: 0.5em;
}

.profile img {
    width: 7em;
    height: 7em;
    margin: auto;
    display: block;
    border-radius: 2px;
        padding: 0;
        border-radius: 2px;
}

.profile form {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input {
    border-left: 0.3em solid green;
}

form.disabled input,
form.disabled {
    border: 0;
    background-color: transparent;
}

.profile form input:not(input[type="file"]),
.profile form input:disabled {
    padding: 0.2em;
    min-width: 300px;
    max-width: 350px;
    border-radius: 2px;
}

form input[type="file"] {
    padding: 0.2em;
    display: flex;
    max-width: 300px;
}

form .input-group p {
    border-bottom: 0;
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: center;
    width: 100%;
}

form.disabled .input-group p {
    border-bottom: 1px solid gainsboro;
}

.profile button {
    display: flex;
    color: white;
    border: none;
    padding: 0.3em 1.2em;
    margin-right: auto;
}

button:disabled {
    color: #e9ecef;
    background-color: #ccc;
    cursor: not-allowed;
}

.red-button {
    background-color: rgba(255, 0, 0, 0.7);
    margin-right: 0.5em;
}

.green-button {
    background-color: rgba(2, 157, 2, 0.6);
    margin-left: 0.5em;
}

.red-button:hover {
    background-color: rgba(195, 0, 0, 0.7);
}
.green-button:hover {
    background-color: rgba(0, 102, 0, 0.6);
}

.button-group {
    margin: 2em auto;
    margin-bottom: 0.2em;
    display: flex;
}

/* errors  */

p.error {
    display: flex;
    justify-content: center;
    color: red;
    padding-top: 0;
    font-size: 0.8em;
}

form .input-error {
    border-left-color: rgba(255, 0, 0, 0.9);
}

@media screen and (max-width: 800px) {
    div.profile#profile {
        margin-top: 1em;
        margin-bottom: 1em;
        padding: .2em;
    }

    .profile * {
        font-size: 0.9em;
    }

    .profile form,
    .profile form.disabled {
        min-width: 320px;
        max-width: 700px;
    }

    form.disabled .input-group {
        min-width: none;
        max-width: none;
    }
}